body{
    background-color: #eaefefa1;
    display : flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    background: url("contact us.avif");
    background-size: cover;
    background-position: center;
    text-align: center;
    width : 450px;
    border : 2px solid black;
    border-radius: 10px;
    padding : 10px;
    margin-top : 20px;
    box-shadow : 0 0 50px #37353E;
}

.contact-form h2{
    font-size : 40px;
}

label{
    font-size : 24px;
    font-weight : 600;
}

input, textarea{
    font-weight : 500;
    font-size : 14px;
    letter-spacing: 1px;
    background-color: transparent;
    margin-top : 10px;
    width : 80%;
    padding : 10px 10px;
    border : none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right : 2px solid black;
    border-left : 2px solid black;
    border-bottom : 2px solid black;
}

input:focus, textarea:focus{
    outline: none;
}

input::placeholder{
    color : #222;
    font-weight : 500;
}
textarea::placeholder{
    color : #222;
    font-weight : 500;
}

button{
    width : 40%;
    font-size : 14px;
    font-weight : 500;
    letter-spacing: 2px;
    background-color: transparent;
    cursor : pointer;
    padding : 10px 20px;
    border-radius: 10px;
}

button:hover{
    background-color: #37353E;
    color : white;
}

.contact-form span {
    color : red;
    font-weight : 500;
}

@media(max-width: 820px){
    .contact-form{
        width : 340px;
        background-position: 60% 15%;
    }
}